head{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 20px;
color: blue;

}

header{
    background-color: rgb(24, 103, 30);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color: blue;

}

body{
    background-color: rgb(5, 33, 9);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding:  20px;
color: orange;
}
.hero{
    background-color: rgba(155, 155, 155, 0.212);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;


}
.hero_content{
flex: 1;
padding-right: 20px;

}
.hero_content h2{
font-size: 2.5rem;
margin-bottom: 1rem;
color: rgb(255, 255, 255);
}
.hero_content p{
font-size: 1.2rem;
margin-bottom: 1.5rem;
color: rgb(255, 255, 255);

}
.hero_button{
display: inline-block;
padding: 0.8rem 1.5rem;
background-color: rgb(165, 106, 42);
color: rgb(236, 231, 224);
border-radius: 5px;


}
.hero_button:hover{
    background-color: burlywood;
}
.hero_image{
max-width: 45%;

}
.hero_image img{
    width: 100%;
    border-radius: 8px;
}
.about{
    flex: 1;
    padding-right: 20px;
    background-color: rgb(59, 25, 3);



}

/* copied from project 2 */
.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allows items to wrap onto the next line if not enough space */
    justify-content: space-between; /* Adjusts spacing to maintain layout even at different screen sizes */
    align-items: center;
    max-width: 100%; /* Allows more space for the cards */
    margin: 20px;
}

.link_card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* Adjusts width to fit 3 cards in one row, accounting for margin */
    margin: 10px; /* Consistent spacing around cards */
    padding: 20px;
    text-align: center;
}

.link_card img {
    width: 100%;
    border-radius: 8px;
    height: auto;
}

.link_card h3 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.link_card p {
    font-size: 1rem;
    color: #555;
}
.link_button{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: rgb(165, 106, 42);
    color: rgb(236, 231, 224);
    border-radius: 5px;

}
.link_button:hover{
    background-color: burlywood;
}

footer{
    background-color: orange;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 20px;
color: cornflowerblue;

}